#main.fortune {
  margin: 2rem 0;
}
#main.fortune .fortuneDrawContainer {
  display: flex;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
#main.fortune .fortuneDrawContainer .fortuneDraw-side {
  margin-top: 20%;
}
#main.fortune .fortuneDrawContainer .fortuneDraw-main {
  position: relative;
  margin-left: -2px;
}
#main.fortune .fortuneDrawContainer .fortuneDraw-main .fortuneDraw-top {
  z-index: 2;
  position: relative;
}
#main.fortune .fortuneDrawContainer .fortuneDraw-main .fortuneDraw-bottom {
  margin-top: -2px;
}
#main.fortune .fortuneDrawContainer .fortuneDraw-main .fortuneDraw-slip {
  width: 60%;
  left: 20%;
  top: 1%;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 2px #fff;
  cursor: pointer;
}
#main.fortune .fortuneDrawContainer .fortuneDraw-main .fortuneDraw-slip.draw {
  animation: draw 3s ease-out;
}
@keyframes draw {
  0% {
    top: 1%;
    opacity: 1;
  }
  50% {
    top: 57%;
    opacity: 1;
  }
  70% {
    top: 57%;
    opacity: 0;
  }
  100% {
    top: 57%;
    opacity: 0;
  }
}
#main.fortune .fortuneDrawResultContainer {
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s;
}
#main.fortune .fortuneDrawResultContainer.fade {
  opacity: 0;
}
#main.fortune .fortuneDrawResultContainerOuter {
  position: relative;
  border: 8px solid #45281a;
  background: #45281a;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
}
#main.fortune .fortuneDrawResultContainerOuter > span {
  color: #fce3c1;
  text-transform: uppercase;
  padding-left: 1rem;
}
#main.fortune .fortuneDrawResultContainerMiddle {
  border: 10px solid #fce3c1;
  border-radius: 8px;
  background: #fce3c1;
}
#main.fortune .fortuneDrawResultContainerInner {
  border: 10px solid #b78167;
  border-radius: 8px;
  background: #fce3c1;
  padding: 10px 10px 10px 0px;
}
#main.fortune .fortuneDrawResultContainerInner > span {
  color: #45281a;
  padding-left: 10px;
}
#main.fortune .fortuneDrawResultContainer #retry {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  z-index: 20;
  padding: 6px;
  bottom: 3px;
  right: 3px;
  margin: 0;
  cursor: pointer;
  border: 2px solid #45281a;
  background: #fff;
}
#main.fortune .fortuneDrawResultContainer .fortuneContentContainer {
  display: flex;
  align-items: flex-start;
  padding: 5px 10px 10px 10px;
  margin-bottom: 1.5rem;
}
#main.fortune .fortuneDrawResultContainer .fortuneContentContainer:last-child {
  margin-bottom: 0;
}
#main.fortune .fortuneDrawResultContainer .fortuneContentContainer .fortuneText {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
#main.fortune .fortuneDrawResultContainer .fortuneContentContainer .fortuneText b {
  color: #45281a;
}
#main.fortune .fortuneDrawResultContainer .fortuneContentContainer .fortuneImage {
  max-width: 50px;
}
#main.fortune .fortuneDrawResultContainer .fortuneContentContainer .fortuneImage img {
  max-width: inherit;
}
