@darkGreen: #245d2a;
@darkRed: #992b2b;
@spring: #4a8651;
@summer: #e1891f;
@fall: #e66b6b;
@winter: #2595A8;
@link: #4169ba;
@lightBrown: #caa380;
@brown: #a57a57;
@dkBrown: #4c322b;
@white: #fff;
@cream: #ffefd1;
@dkGrey: #555;
@disabledBg: #a2a2a2;
@disabledText: #636363;


html {
    font-family: 'Lexend Exa', sans-serif;
}

html {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d6155b58-5126-439a-ade3-895083fe1973/dbkc9nw-1fd2bbf7-d350-4eaa-a7e2-8562c4607a66.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZDYxNTViNTgtNTEyNi00MzlhLWFkZTMtODk1MDgzZmUxOTczXC9kYmtjOW53LTFmZDJiYmY3LWQzNTAtNGVhYS1hN2UyLTg1NjJjNDYwN2E2Ni5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.xqi7KLj0DwtrWAXH57li7_xP_PmRKIMkEsWjRTFuyzI") repeat;
	color: #876046;
}

br {
    line-height: 18px;
}

#main {
	margin: 2rem;

	.loading-container {
		font-size: 15px;
		background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d6155b58-5126-439a-ade3-895083fe1973/dbfv43k-04475579-0e32-4301-8685-febf77a1556d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZDYxNTViNTgtNTEyNi00MzlhLWFkZTMtODk1MDgzZmUxOTczXC9kYmZ2NDNrLTA0NDc1NTc5LTBlMzItNDMwMS04Njg1LWZlYmY3N2ExNTU2ZC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.AeIsfnKPecAIGeonRw8DyiDeeJBBwMbvG1mpb14QUrQ") repeat;
		padding: 2rem;
		border-radius: 10px;
		border: 1px solid @dkBrown;
	}
}

#main.hub-page {
	.hubPageContainer {
		font-size: 15px;
		background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d6155b58-5126-439a-ade3-895083fe1973/dbfv43k-04475579-0e32-4301-8685-febf77a1556d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZDYxNTViNTgtNTEyNi00MzlhLWFkZTMtODk1MDgzZmUxOTczXC9kYmZ2NDNrLTA0NDc1NTc5LTBlMzItNDMwMS04Njg1LWZlYmY3N2ExNTU2ZC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.AeIsfnKPecAIGeonRw8DyiDeeJBBwMbvG1mpb14QUrQ") repeat;
		padding: 2rem;
		border-radius: 10px;
		border: 1px solid @dkBrown;
		display: flex;
		flex-direction: column;
		align-items: center;

		.hub- {
			&logo img {
				max-width: 100%;
			}

			&title {
				font-family: 'Bungee', cursive;
				color: @dkBrown;
				text-transform: UPPERCASE;
				font-size: 22px;
				line-height: 20px;
				margin-top: 10px;
				margin-bottom: 20px;
			}

			&button-container {
				margin-top: 16px;
				display: flex;
				flex-wrap: wrap;
				max-width: 600px;
				width: 100%;
				justify-content: center;
				align-items: stretch;

				button {
					padding: 10px;
					margin: 8px;
					border: none;
					border-radius: 5px;
					background: @brown;
					flex: 1 1 0;
					color: white;
					font-family: inherit;

					&:disabled {
						background: @disabledBg;
    					color: @disabledText;
					}
				}
			}
		}

		@media (max-width: 400px) {
			.hub-button-container {
				flex-direction: column;
	
				button {
					margin-top: 4px;
				}
			}
		}
	}
}

#main.courage-test {
	font-size: 18px;
	
	img {
		max-width: 100%;
		margin: 0 auto;
	}
	
	.promptContainer, .loading {
		padding: 2rem;
		padding-top: 4rem;
		display: flex;
		flex-direction: column;
		opacity: 0;
		transition: opacity 1s;

		&.fadein {
			opacity: 1;
		}
	}

	.loading {
		opacity: 1;
	}
	
	.promptText {
		margin: 0.5rem;
		display: block;
	}
	
	.buttonWrapper {
		max-width: 600px;
		width: 100%;
		margin: 0 auto;
		margin-top: 2rem;
		display: flex;
		justify-content: center;
		align-items: stretch;
	
		button {
			margin: 0.5rem;
			text-transform: uppercase;
			padding: 0.5rem 1rem;
			font-size: 1.25rem;
			border-radius: 5px;
			font-family: inherit;
			background: #7d787d;
			border: 3px solid #afa1a8;
			color: white;
			flex: 1 1 0;
		}
	}

	@media (max-width: 400px) {
		.buttonWrapper {
			flex-direction: column;
		}
	}
}