html {
  font-family: 'Lexend Exa', sans-serif;
}
img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
html {
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d6155b58-5126-439a-ade3-895083fe1973/dbkc9nw-1fd2bbf7-d350-4eaa-a7e2-8562c4607a66.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZDYxNTViNTgtNTEyNi00MzlhLWFkZTMtODk1MDgzZmUxOTczXC9kYmtjOW53LTFmZDJiYmY3LWQzNTAtNGVhYS1hN2UyLTg1NjJjNDYwN2E2Ni5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.xqi7KLj0DwtrWAXH57li7_xP_PmRKIMkEsWjRTFuyzI") repeat;
  color: #876046;
  padding-bottom: 2rem;
}
br {
  line-height: 18px;
}
button {
  padding: 10px;
  margin: 8px;
  border: none;
  border-radius: 5px;
  background: #a57a57;
  flex: 1 1 0;
  color: white;
  font-family: inherit;
  outline-color: white;
}
button:disabled {
  background: #a2a2a2;
  color: #636363;
}
#main {
  margin: 2rem;
}
#main .loading-container {
  font-size: 15px;
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d6155b58-5126-439a-ade3-895083fe1973/dbfv43k-04475579-0e32-4301-8685-febf77a1556d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZDYxNTViNTgtNTEyNi00MzlhLWFkZTMtODk1MDgzZmUxOTczXC9kYmZ2NDNrLTA0NDc1NTc5LTBlMzItNDMwMS04Njg1LWZlYmY3N2ExNTU2ZC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.AeIsfnKPecAIGeonRw8DyiDeeJBBwMbvG1mpb14QUrQ") repeat;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid #4c322b;
  max-width: 600px;
  margin: 0 auto;
}
#main.hub-page .hubPageContainer {
  font-size: 15px;
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d6155b58-5126-439a-ade3-895083fe1973/dbfv43k-04475579-0e32-4301-8685-febf77a1556d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZDYxNTViNTgtNTEyNi00MzlhLWFkZTMtODk1MDgzZmUxOTczXC9kYmZ2NDNrLTA0NDc1NTc5LTBlMzItNDMwMS04Njg1LWZlYmY3N2ExNTU2ZC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.AeIsfnKPecAIGeonRw8DyiDeeJBBwMbvG1mpb14QUrQ") repeat;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid #4c322b;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}
#main.hub-page .hubPageContainer .hub-title {
  font-family: 'Bungee', cursive;
  color: #4c322b;
  text-transform: UPPERCASE;
  font-size: 22px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
#main.hub-page .hubPageContainer .hub-button-container {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  width: 100%;
  justify-content: center;
  align-items: stretch;
}
#main.hub-page .hubPageContainer .hub-button-container button {
  font-size: 16px;
}
@media (max-width: 400px) {
  #main.hub-page .hubPageContainer .hub-button-container {
    flex-direction: column;
  }
  #main.hub-page .hubPageContainer .hub-button-container button {
    margin-top: 4px;
  }
}
#main.courage-test {
  font-size: 18px;
}
#main.courage-test .promptContainer {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 1s;
}
#main.courage-test .promptContainer.fadein {
  opacity: 1;
}
#main.courage-test .promptText {
  margin: 0.5rem;
  display: block;
}
#main.courage-test .buttonWrapper {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
#main.courage-test .buttonWrapper button {
  text-transform: uppercase;
  font-size: 1.25rem;
  background: #7d787d;
  border: 3px solid #afa1a8;
}
@media (max-width: 400px) {
  #main.courage-test .buttonWrapper {
    flex-direction: column;
  }
}
#main.fortune {
  margin: 2rem 0;
}
#main.fortune .hide {
  display: none;
}
#main.fortune .fortuneDrawContainer {
  display: flex;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
#main.fortune .fortuneDrawContainer.hide {
  display: none;
}
#main.fortune .fortuneDrawContainer .fortuneDraw-side {
  margin-top: 20%;
}
#main.fortune .fortuneDrawContainer .fortuneDraw-main {
  position: relative;
  margin-left: -2px;
}
#main.fortune .fortuneDrawContainer .fortuneDraw-main .fortuneDraw-top {
  z-index: 2;
  position: relative;
}
#main.fortune .fortuneDrawContainer .fortuneDraw-main .fortuneDraw-bottom {
  margin-top: -2px;
}
#main.fortune .fortuneDrawContainer .fortuneDraw-main .fortuneDraw-slip {
  width: 60%;
  left: 20%;
  top: 1%;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 2px #fff;
  cursor: pointer;
}
#main.fortune .fortuneDrawContainer .fortuneDraw-main .fortuneDraw-slip.draw {
  animation: draw 3s ease-out;
}
@keyframes draw {
  0% {
    top: 1%;
    opacity: 1;
  }
  50% {
    top: 57%;
    opacity: 1;
  }
  70% {
    top: 57%;
    opacity: 0;
  }
  100% {
    top: 57%;
    opacity: 0;
  }
}
#main.fortune .fortuneDrawResultContainer {
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s;
}
#main.fortune .fortuneDrawResultContainer.fade {
  opacity: 0;
}
#main.fortune .fortuneDrawResultContainerOuter {
  position: relative;
  border: 8px solid #45281a;
  background: #45281a;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
}
#main.fortune .fortuneDrawResultContainerOuter > span {
  color: #fce3c1;
  text-transform: uppercase;
  padding-left: 1rem;
}
#main.fortune .fortuneDrawResultContainerMiddle {
  border: 10px solid #fce3c1;
  border-radius: 8px;
  background: #fce3c1;
}
#main.fortune .fortuneDrawResultContainerInner {
  border: 10px solid #b78167;
  border-radius: 8px;
  background: #fce3c1;
  padding: 10px 10px 10px 0px;
}
#main.fortune .fortuneDrawResultContainerInner > span {
  color: #45281a;
  padding-left: 10px;
}
#main.fortune .fortuneDrawResultContainer #retry {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  z-index: 20;
  padding: 6px;
  bottom: 3px;
  right: 3px;
  margin: 0;
  cursor: pointer;
  border: 2px solid #45281a;
  background: #fff;
}
#main.fortune .fortuneDrawResultContainer .fortuneContentContainer {
  display: flex;
  align-items: flex-start;
  padding: 5px 10px 10px 10px;
  margin-bottom: 1.5rem;
}
#main.fortune .fortuneDrawResultContainer .fortuneContentContainer:last-child {
  margin-bottom: 0;
}
#main.fortune .fortuneDrawResultContainer .fortuneContentContainer .fortuneText {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
#main.fortune .fortuneDrawResultContainer .fortuneContentContainer .fortuneText b {
  color: #45281a;
}
#main.fortune .fortuneDrawResultContainer .fortuneContentContainer .fortuneImage {
  max-width: 50px;
}
#main.fortune .fortuneDrawResultContainer .fortuneContentContainer .fortuneImage img {
  max-width: inherit;
}
